# Compiled source #
*.class
*/bin/*

# Eclipse files
.project
.classpath
.settings

# Packages
*.jar

# IntelliJ

*.iml
.idea/*

# Maven build files
target
reports
test-output
tmp/*
# ARQ tests
arq-perf

# bat files
*.bat

# PMD
.pmd

# Merge files
*.orig

# Groovy
.groovy/